<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a07db3">  <td>17/11/10 12:03:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B.Four()[pri:0, instance:pack1.B@52af6cff]">Four</td> 
  <td>main@1442045361</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>17/11/10 12:03:05</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B.one()[pri:0, instance:pack1.B@52af6cff]">one</td> 
  <td>main@1442045361</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>17/11/10 12:03:05</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B.three()[pri:0, instance:pack1.B@52af6cff]">three</td> 
  <td>main@1442045361</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>17/11/10 12:03:05</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B.two()[pri:0, instance:pack1.B@52af6cff]">two</td> 
  <td>main@1442045361</td>   <td></td> </tr>
</table>
