<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>s</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9498ed">  <td>17/10/14 09:33:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterTest()[pri:0, instance:pack1.MultiBrowser@4439f31e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146611050</td>   <td></td> </tr>
<tr bgcolor="9498ed">  <td>17/10/14 09:33:04</td>   <td>-9434</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeTest(java.lang.String)[pri:0, instance:pack1.MultiBrowser@153f5a29]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146611050</td>   <td></td> </tr>
<tr bgcolor="9498ed">  <td>17/10/14 09:33:04</td>   <td>-9296</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeTest(java.lang.String)[pri:0, instance:pack1.MultiBrowser@4439f31e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146611050</td>   <td></td> </tr>
<tr bgcolor="9498ed">  <td>17/10/14 09:33:04</td>   <td>-9418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.login()[pri:0, instance:pack1.MultiBrowser@153f5a29]">login</td> 
  <td>main@146611050</td>   <td></td> </tr>
<tr bgcolor="9498ed">  <td>17/10/14 09:33:11</td>   <td>-2716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.login()[pri:0, instance:pack1.MultiBrowser@4439f31e]">login</td> 
  <td>main@146611050</td>   <td></td> </tr>
</table>
