<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bc464">  <td>17/11/10 11:58:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Excel.m1()[pri:0, instance:excelprg.Excel@3c09711b]">m1</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="6bc464">  <td>17/11/10 11:58:53</td>   <td>1336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Excel.run()[pri:0, instance:excelprg.Excel@3c09711b]">run</td> 
  <td>main@182738614</td>   <td></td> </tr>
</table>
